body{
    background-color: #000000;
    background-image: url(assets/fundo.png)
}

.conteiner{
    
}

.tabela{
    background-color: rgba(159, 170, 170, 10%);
    margin-top: 71px;
    margin-left: 127px;
    width: 313px;
    height: 513px;
}

table{
    border-collapse: collapse;
    font-family: sans-serif;
}


th , td{
    border: 1px #000000 solid;
    color: grey;
    padding: 5px;
}