body{
    background-color: #000000;
    background-image: url(assets/fundo.png)
}

.conteiner{
    
}

.tabela{
    background-color: rgba(159, 170, 170, 10%);
    margin-top: 71px;
    margin-left: 127px;
    width: 313px;
    height: 513px;
}